<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/maps/china.js"></script>

</head>
<body>
<div id="db71c618f1324b76b8b74acc0ccf86ab" class="chart-container" style="width:900px; height:500px;"></div>
<script>
    var chart_db71c618f1324b76b8b74acc0ccf86ab = echarts.init(
        document.getElementById('db71c618f1324b76b8b74acc0ccf86ab'), 'white', {renderer: 'canvas'});
    var option_db71c618f1324b76b8b74acc0ccf86ab = {
        "animation": true,
        "animationThreshold": 2000,
        "animationDuration": 1000,
        "animationEasing": "cubicOut",
        "animationDelay": 0,
        "animationDurationUpdate": 300,
        "animationEasingUpdate": "cubicOut",
        "animationDelayUpdate": 0,
        "color": [
            "#c23531",
            "#2f4554",
            "#61a0a8",
            "#d48265",
            "#749f83",
            "#ca8622",
            "#bda29a",
            "#6e7074",
            "#546570",
            "#c4ccd3",
            "#f05b72",
            "#ef5b9c",
            "#f47920",
            "#905a3d",
            "#fab27b",
            "#2a5caa",
            "#444693",
            "#726930",
            "#b2d235",
            "#6d8346",
            "#ac6767",
            "#1d953f",
            "#6950a1",
            "#918597"
        ],
        "series": [
            {
                "type": "scatter",
                "name": "geo",
                "coordinateSystem": "geo",
                "symbolSize": 12,
                "data": [
                    {
                        "name": "\u6d4e\u5357",
                        "value": [
                            117,
                            36.65,
                            2
                        ]
                    },
                    {
                        "name": "\u4e1c\u839e",
                        "value": [
                            113.75,
                            23.04,
                            1
                        ]
                    },
                    {
                        "name": "\u7389\u6eaa",
                        "value": [
                            102.52,
                            24.35,
                            1
                        ]
                    },
                    {
                        "name": "\u5357\u4eac",
                        "value": [
                            118.78,
                            32.04,
                            6
                        ]
                    },
                    {
                        "name": "\u4e0a\u6d77",
                        "value": [
                            121.473701,
                            31.230416,
                            18
                        ]
                    },
                    {
                        "name": "\u6210\u90fd",
                        "value": [
                            104.06,
                            30.67,
                            4
                        ]
                    },
                    {
                        "name": "\u6606\u660e",
                        "value": [
                            102.73,
                            25.04,
                            2
                        ]
                    },
                    {
                        "name": "\u6c5f\u897f\u7701",
                        "value": [
                            115.909228,
                            28.675696,
                            1
                        ]
                    },
                    {
                        "name": "\u8d35\u9633",
                        "value": [
                            106.71,
                            26.57,
                            1
                        ]
                    },
                    {
                        "name": "\u82cf\u5dde",
                        "value": [
                            120.62,
                            31.32,
                            3
                        ]
                    },
                    {
                        "name": "\u676d\u5dde",
                        "value": [
                            120.19,
                            30.26,
                            5
                        ]
                    },
                    {
                        "name": "\u5b81\u6ce2",
                        "value": [
                            121.56,
                            29.86,
                            2
                        ]
                    },
                    {
                        "name": "\u90d1\u5dde",
                        "value": [
                            113.65,
                            34.76,
                            2
                        ]
                    },
                    {
                        "name": "\u6df1\u5733",
                        "value": [
                            114.07,
                            22.62,
                            5
                        ]
                    },
                    {
                        "name": "\u5317\u4eac",
                        "value": [
                            116.407526,
                            39.90403,
                            8
                        ]
                    },
                    {
                        "name": "\u77f3\u5bb6\u5e84",
                        "value": [
                            114.48,
                            38.03,
                            1
                        ]
                    },
                    {
                        "name": "\u6606\u5c71",
                        "value": [
                            120.95,
                            31.39,
                            3
                        ]
                    },
                    {
                        "name": "\u5927\u8fde",
                        "value": [
                            121.62,
                            38.92,
                            4
                        ]
                    },
                    {
                        "name": "\u5929\u6d25",
                        "value": [
                            117.200983,
                            39.084158,
                            2
                        ]
                    },
                    {
                        "name": "\u9752\u5c9b",
                        "value": [
                            120.33,
                            36.07,
                            3
                        ]
                    },
                    {
                        "name": "\u6c5f\u95e8",
                        "value": [
                            113.06,
                            22.61,
                            1
                        ]
                    },
                    {
                        "name": "\u65e0\u9521",
                        "value": [
                            120.29,
                            31.59,
                            2
                        ]
                    },
                    {
                        "name": "\u5409\u5b89",
                        "value": [
                            114.58,
                            27.07,
                            1
                        ]
                    },
                    {
                        "name": "\u5e7f\u5dde",
                        "value": [
                            113.23,
                            23.16,
                            10
                        ]
                    },
                    {
                        "name": "\u6c88\u9633",
                        "value": [
                            123.38,
                            41.8,
                            1
                        ]
                    },
                    {
                        "name": "\u6b66\u6c49",
                        "value": [
                            114.31,
                            30.52,
                            10
                        ]
                    }
                ],
                "label": {
                    "show": false,
                    "position": "top",
                    "margin": 8
                },
                "rippleEffect": {
                    "show": true,
                    "brushType": "stroke",
                    "scale": 2.5,
                    "period": 4
                }
            }
        ],
        "legend": [
            {
                "data": [
                    "geo"
                ],
                "selected": {
                    "geo": true
                },
                "show": true,
                "padding": 5,
                "itemGap": 10,
                "itemWidth": 25,
                "itemHeight": 14
            }
        ],
        "tooltip": {
            "show": true,
            "trigger": "item",
            "triggerOn": "mousemove|click",
            "axisPointer": {
                "type": "line"
            },
            "showContent": true,
            "alwaysShowContent": false,
            "showDelay": 0,
            "hideDelay": 100,
            "formatter": function (params) {        return params.name + ' : ' + params.value[2];    },
            "textStyle": {
                "fontSize": 14
            },
            "borderWidth": 0,
            "padding": 5
        },
        "title": [
            {
                "text": "Geo-\u57fa\u672c\u793a\u4f8b",
                "padding": 5,
                "itemGap": 10
            }
        ],
        "visualMap": {
            "show": true,
            "type": "continuous",
            "min": 0,
            "max": 100,
            "inRange": {
                "color": [
                    "#50a3ba",
                    "#eac763",
                    "#d94e5d"
                ]
            },
            "calculable": true,
            "inverse": false,
            "splitNumber": 5,
            "orient": "vertical",
            "showLabel": true,
            "itemWidth": 20,
            "itemHeight": 140,
            "borderWidth": 0
        },
        "geo": {
            "map": "china",
            "roam": true,
            "aspectScale": 0.75,
            "nameProperty": "name",
            "selectedMode": false,
            "emphasis": {}
        }
    };
    chart_db71c618f1324b76b8b74acc0ccf86ab.setOption(option_db71c618f1324b76b8b74acc0ccf86ab);
</script>
</body>
</html>








<!--<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('【请填写功能名称】列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>岗位名：</label>
                                <input type="text" name="jobName"/>
                            </li>
                            <li>
                                <label>薪资水平(高减低)：</label>
                                <input type="text" name="jobSalary"/>
                            </li>
                            <li>
                                <label>所属公司：</label>
                                <input type="text" name="jobCompany"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:zhaopin:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:zhaopin:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:zhaopin:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:zhaopin:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:zhaopin:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:zhaopin:remove')}]];
        var prefix = ctx + "system/zhaopin";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "【请填写功能名称】",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'jobId',
                    title: '岗位id',
                    visible: false
                },
                {
                    field: 'jobName',
                    title: '岗位名'
                },
                {
                    field: 'jobSalary',
                    title: '薪资水平(高减低)'
                },
                {
                    field: 'status',
                    title: '目前状态'
                },
                {
                    field: 'jobCompany',
                    title: '所属公司'
                },
                {
                    field: 'remark',
                    title: '备注'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.jobId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.jobId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>
-->